<?xml version="1.0" encoding="UTF-8"?>
<launch> 

<node   name="c_t"
        pkg="my_pkg"
        type="custom_talker.py"
        args=""
        output="screen"/>

<node   name="c_l"
        pkg="my_pkg"
        type="custom_listener.py"
        args=""
        output="screen"/>

<node   name="result"
        pkg="my_pkg"
        type="custom_result.py"
        args=""
        output="screen"/>

</launch>